<head>
    <title>{{ pageTitle }}</title>
    {{{output.std}}}
    <style id="globalStyles"></style>
    {{{output.style}}}
    {{{output.font}}}
    {{{output.fontawesome}}}
    <style>

    </style>
</head>

<body>
    <h1>Pannello di controllo SAF</h1>
    <div class="section">
        {{{adminOut}}}
    </div>
</body>