<head>
    <title>{{ pageTitle }}</title>
    {{{output.std}}}
    <style id="globalStyles"></style>
    {{{output.style}}}
    {{{output.font}}}
    {{{output.fontawesome}}}
    <style>
        /*   table   */
    </style>
</head>

<body>
    {{{output.nav}}}
    <div class="slider introduceSection">
        <div class="containsSlides heightSmall">
            <div class="slideOverlay heightSmall">
                <h2></h2>
                <p class="bigText"></p>
            </div>
            {{#each images}}
            <img class="slide imageSlides heightSmall" src="../public/images/img/calendario/{{this}}">

            {{/each}}
            <svg class="svgSlider not-full" version="1.0" xmlns="http://www.w3.org/2000/svg">
                <g transform="translate(0 90) scale(.1 -.1)" fill="#fff">
                    <path
                        d="m11340 864c-39-33-107-168-149-294-18-52-36-99-40-103-5-4-11 19-14 53-10 109-66 175-103 121-11-15-22-19-42-15-34 7-52-12-77-80-10-27-35-67-57-89-21-22-54-72-72-111-46-97-93-140-171-154-72-13-366-15-565-3-116 7-161 14-225 36-102 35-267 117-398 198-56 35-108 67-115 71s-28 1-46-8c-40-19-68-12-94 23-26 36-101 47-164 25-51-18-92-11-131 22-36 30-71 30-122-1-47-29-115-33-160-9-87 48-81 47-127 26-24-10-68-39-98-64-58-47-117-81-162-92-41-9-287-36-338-36-66 0-118 17-153 52-111 107-145 118-189 66l-27-33-47 47c-61 62-79 67-107 32-22-28-46-68-69-112-22-43-52-21-37 30 4 16 3 32-4 41-17 22-55 4-63-30-4-15-18-38-31-50-12-12-23-29-23-38 0-8-16-23-35-32-34-16-38-16-70 1-18 10-39 32-46 48-14 34-36 48-78 48-16 0-40 4-53 9-31 12-184 163-229 226-40 57-67 66-105 36-15-12-32-21-38-21-7 0-27-16-46-35-43-44-69-44-140 0-73 47-121 48-181 2-24-19-74-51-112-71-75-42-93-42-155-1-82 54-142 42-235-45-101-94-144-106-272-75-129 31-145 26-375-109-63-38-209-115-323-173l-209-104-282 1c-297 0-345 6-439 50-55 26-121 95-177 185-24 39-58 88-76 111-58 73-181 123-399 160-118 21-389 24-477 6-32-6-125-17-207-24-144-11-152-11-237 11-103 27-270 39-302 22-25-13-52-84-94-241-17-63-33-117-34-119-8-10-14 10-39 129-29 138-47 190-69 190-20 0-74-79-132-193-67-134-138-226-194-254-41-20-210-53-345-67-102-11-314-27-625-46-63-4 2997-7 6800-8s6908 2 6900 7-58 12-110 16c-125 9-339 41-376 56-18 8-121 15-269 20-191 6-254 11-310 27-38 11-77 20-85 20-120 0-348 26-427 48-132 38-190 75-225 144-25 51-73 190-98 289-17 66-54 98-126 106-32 4-75 14-96 22-33 13-39 13-75-5-79-41-115-100-141-228l-17-85-37 45c-35 41-38 50-44 128-6 79-9 87-57 158-88 132-102 140-157 94z" />
                </g>
            </svg>
        </div>
        <h1 class="bigBigTitle recordMove"><p style="font-size: 0.655em; text-align: center; margin: 0; line-height: 70%; transform: translateX(-0.7em)"></p>CALENDARIO</h1>
        <div class="section flexVertical tableScroll" style="margin: 130px auto">
        <section id="filters">
            {{{output.content.filters}}}
        </section>

        <section id="results">
            {{{output.content.results}}}
        </section>

        <section id="legend">
            {{{output.content.legend}}}
        </section>
        </div>
        {{{output.foot}}}
        <script>
            const checkElement = setInterval(function () {
                const h1Element = document.querySelector('div.col-sm-4 h1');
                if (h1Element) {
                    h1Element.setAttribute('class', 'bigBigTitle');
                    clearInterval(checkElement); // Interrompe la ricerca una volta trovato l'elemento
                }
            }, 100); // Verifica ogni 100 millisecondi



        </script>
</body>