<head>
    <title>{{ pageTitle }}</title>
    {{{output.std}}}
    <style id="globalStyles"></style>
    {{{output.style}}}
    {{{output.font}}}
    {{{output.fontawesome}}}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Protest+Guerrilla&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Unlock&display=swap');

        :root {
            --margin-section: 40px;
            --grid-gap: 20px;
            --grid-columns_n: 4;
            /*
            calc(100% - ((var(--grid-columns_n) * var(--grid-gap)) + (var(--margin-section)*2)))
            calc(100% - (var(--margin-section)*2));
            */
        }


        .galleryGrid {
            width: calc(100vw - (var(--margin-section)*2));
            ;
            display: grid;
            grid-gap: var(--grid-gap);
            /*grid-template-columns: repeat(var(--grid-columns_n), 1fr);*/
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            margin: var(--margin-section);
        }

        .galleryDiv {
            position: relative;
        }

        .galleryItem {
            max-width: 100%;
            max-height: 100%;
            height: 100%;
            width: 100%;
            object-fit: cover;

            /*transition: 0.2s ease-out;*/
        }

        .galleryItem:hover {
            opacity: 0.75;

        }

        #modalImage {
            width: auto;
            height: 50%;
            top: 50%;
            left: 50%;
            transform: translate(50%, 50%);
        }

        .modal {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(35, 35, 35, 0.512);
            backdrop-filter: blur(3px);
            z-index: 100;
        }

        .closeModal {
            font-size: 40px;
            font-weight: bolder;
            color: var(--glass-1-background);
            box-shadow: var(--glass-1-box-shadow);
            backdrop-filter: var(--glass-1-backdrop-filter);
            -webkit-backdrop-filter: var(--glass-1--webkit-backdrop-filter);
            position: absolute;
            right: 70;
            top: 70;
            margin: 10px;
        }

        .closeModal:hover {
            cursor: pointer;
        }

        .toolsModal {
            position: absolute;
            top: 45%;
            right: 70;
            display: flex;
            flex-direction: column;
        }

        .toolsModal * {
            cursor: pointer;
            font-size: 22px;
            color: var(--glass-1-background);
            backdrop-filter: var(--glass-1-backdrop-filter);
            -webkit-backdrop-filter: var(--glass-1--webkit-backdrop-filter);
            box-shadow: var(--glass-1-box-shadow);
        }

        span {
            padding: 10px;
            border-radius: 10px;
            margin: 5px;

            /*background-color: var(--glass-1-background);*/

            animation: slideIn1 1s ease-in-out;
        }

        .folder4Img {}

        .folder {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: last baseline;
            align-items: last baseline;

            background: linear-gradient(rgba(28, 28, 28, 0.334), rgba(28, 28, 28, 0.499)), url('/public/images/gallery/2024.08.23_MEETING\ FRANCO\ CRISCUOLO/IMG_7591.JPG') center center;
            background-size: cover;
            padding: 12px 16px;
            height: 160px;

            transition: all 0.2s ease-out;
        }

        a.folder {
            color: white;
            font-family: "Unlock", sans-serif;
            text-decoration: none;
        }

        .folder small {
            align-self: top;
        }

        .folder div {
            height: auto;
            margin: auto;
        }

        .folder h5 {
            align-self: flex-start;
            justify-self: flex-end;
            margin: 0;
        }

        .folder:hover {
            transform: scale(1.05);
        }
    </style>
</head>

<body>
    {{{output.nav}}}
    <div class="slider introduceSection">
        <div class="containsSlides heightSmall">
            <div class="slideOverlay heightSmall">
                <h2></h2>
                <p class="bigText"></p>
                <button class="sliderButtonInfo"></button>
            </div>
            {{#each images}}
            <img class="slide imageSlides heightSmall" src="../public/images/gallery/{{this}}">

            {{/each}}
            <svg class="svgSlider not-full" version="1.0" xmlns="http://www.w3.org/2000/svg">
                <g transform="translate(0 90) scale(.1 -.1)" fill="#fff">
                    <path
                        d="m11340 864c-39-33-107-168-149-294-18-52-36-99-40-103-5-4-11 19-14 53-10 109-66 175-103 121-11-15-22-19-42-15-34 7-52-12-77-80-10-27-35-67-57-89-21-22-54-72-72-111-46-97-93-140-171-154-72-13-366-15-565-3-116 7-161 14-225 36-102 35-267 117-398 198-56 35-108 67-115 71s-28 1-46-8c-40-19-68-12-94 23-26 36-101 47-164 25-51-18-92-11-131 22-36 30-71 30-122-1-47-29-115-33-160-9-87 48-81 47-127 26-24-10-68-39-98-64-58-47-117-81-162-92-41-9-287-36-338-36-66 0-118 17-153 52-111 107-145 118-189 66l-27-33-47 47c-61 62-79 67-107 32-22-28-46-68-69-112-22-43-52-21-37 30 4 16 3 32-4 41-17 22-55 4-63-30-4-15-18-38-31-50-12-12-23-29-23-38 0-8-16-23-35-32-34-16-38-16-70 1-18 10-39 32-46 48-14 34-36 48-78 48-16 0-40 4-53 9-31 12-184 163-229 226-40 57-67 66-105 36-15-12-32-21-38-21-7 0-27-16-46-35-43-44-69-44-140 0-73 47-121 48-181 2-24-19-74-51-112-71-75-42-93-42-155-1-82 54-142 42-235-45-101-94-144-106-272-75-129 31-145 26-375-109-63-38-209-115-323-173l-209-104-282 1c-297 0-345 6-439 50-55 26-121 95-177 185-24 39-58 88-76 111-58 73-181 123-399 160-118 21-389 24-477 6-32-6-125-17-207-24-144-11-152-11-237 11-103 27-270 39-302 22-25-13-52-84-94-241-17-63-33-117-34-119-8-10-14 10-39 129-29 138-47 190-69 190-20 0-74-79-132-193-67-134-138-226-194-254-41-20-210-53-345-67-102-11-314-27-625-46-63-4 2997-7 6800-8s6908 2 6900 7-58 12-110 16c-125 9-339 41-376 56-18 8-121 15-269 20-191 6-254 11-310 27-38 11-77 20-85 20-120 0-348 26-427 48-132 38-190 75-225 144-25 51-73 190-98 289-17 66-54 98-126 106-32 4-75 14-96 22-33 13-39 13-75-5-79-41-115-100-141-228l-17-85-37 45c-35 41-38 50-44 128-6 79-9 87-57 158-88 132-102 140-157 94z" />
                </g>
            </svg>
        </div>
        {{{output.content}}}
        <div class="marginTop">
            <h1 class="bigBigTitle"><p style="font-size: 0.655em; text-align: center; margin: 0; line-height: 70%; transform: translateX(-0.65em)">LA NOSTRA</p>GALLERIA</h1>
        </div>
        <div class="gallery galleryGrid">
            {{#each folder}}
            <a href="/galleria/{{folder}}" class="folder"
                style="background: linear-gradient(rgba(28, 28, 28, 0.334), rgba(28, 28, 28, 0.499)), url('/public/images/gallery/{{folder}}/{{firstImage}}') center center; background-size: cover; ">
                <small>{{date}}</small>
                <div></div>
                <h5>
                    {{name}}
                </h5>
            </a>
            {{/each}}
        </div>
        <div id="imageModal" class="modal">
            <span class="closeModal" onclick="closeModal()">&times;</span>
            <div class="toolsModal">
                <span class="downloadModal" onclick="downloadImg()"><i class="fa-solid fa-cloud-arrow-down"></i></span>
                <span class="hasFontAwesomeInnit prevImgOfGallery" onclick="prevImgOfGallery()"><i
                        class="fa-solid fa-caret-left"></i></span>
                <span class="hasFontAwesomeInnit nextImgOfGallery" onclick="nextImgOfGallery()"><i
                        class="fa-solid fa-caret-right"></i></span>
            </div>
            <img id="modalImage" class="modal-content">
        </div>
        {{{output.foot}}}
        <script>
            let currentImageIndex = 0;
            const images = document.querySelectorAll('.galleryItem');

            function openImg(event) {
                const clickedImageIndex = Array.from(images).indexOf(event.target);
                seeImg(clickedImageIndex);
            }

            function seeImg(imageIndex) {
                const modal = document.getElementById('imageModal');
                const modalImage = document.getElementById('modalImage');

                currentImageIndex = imageIndex;
                modalImage.src = images[currentImageIndex].src;

                modal.style.display = 'block';
            }

            function closeModal() {
                const modal = document.getElementById('imageModal');
                modal.style.display = 'none';
            }

            function downloadImg() {
                const modalImage = document.getElementById('modalImage');
                const downloadLink = document.createElement('a');
                downloadLink.href = modalImage.src;
                downloadLink.download = 'image.jpg';
                downloadLink.click();
            }

            function prevImgOfGallery() {
                if (currentImageIndex > 0) {
                    currentImageIndex--;
                } else {
                    currentImageIndex = images.length - 1;
                }
                seeImg(currentImageIndex);
            }

            function nextImgOfGallery() {
                if (currentImageIndex < images.length - 1) {
                    currentImageIndex++;
                } else {
                    currentImageIndex = 0;
                }
                seeImg(currentImageIndex);
            }

            document.getElementById('imageModal').addEventListener('click', function (event) {
                if (event.target.id === 'imageModal') {
                    closeModal();
                }
            });
        </script>
</body>