<head>
    <title>{{ pageTitle }}</title>
    {{{output.std}}}
    {{{output.font}}}
    {{{output.style}}}
    {{{output.fontawesome}}}
    {{{output.cookies}}}
    <style>
        body{
            overflow-x: hidden;
        }
    </style>
</head>

<body>
    {{{output.nav}}}
    <div class="slider">
        <div class="containsSlides">
            <div class="slideOverlay heightMedium">
                <h2></h2>
                <p class="bigText"></p>
            </div>
            {{#each images}}
            
            <img class="slide imageSlides heightMedium" src="../public/images/gallery/{{this}}">
            
            {{/each}}
        </div>
        <button class="sliderButton left slideInLeft"><i class="fa-solid fa-angle-left"></i></button>
        <button class="sliderButton right slideInRight"><i class="fa-solid fa-angle-right"></i></button>
        <button class="sliderButton bottom slideIn upDown" onclick="down()">&darr;</button>
        <!--<svg class="svgSlider" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path class="svgSlider" fill="white" fill-opacity="1" d="M0,128L24,144C48,160,96,192,144,218.7C192,245,240,267,288,240C336,213,384,139,432,133.3C480,128,528,192,576,197.3C624,203,672,149,720,128C768,107,816,117,864,133.3C912,149,960,171,1008,192C1056,213,1104,235,1152,213.3C1200,192,1248,128,1296,117.3C1344,107,1392,149,1416,170.7L1440,192L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z"></path></svg>
    !-->
        <svg class="svgSlider" version="1.0" xmlns="http://www.w3.org/2000/svg">
            <g transform="translate(0 90) scale(.1 -.1)" fill="#fff">
                <path
                    d="m11340 864c-39-33-107-168-149-294-18-52-36-99-40-103-5-4-11 19-14 53-10 109-66 175-103 121-11-15-22-19-42-15-34 7-52-12-77-80-10-27-35-67-57-89-21-22-54-72-72-111-46-97-93-140-171-154-72-13-366-15-565-3-116 7-161 14-225 36-102 35-267 117-398 198-56 35-108 67-115 71s-28 1-46-8c-40-19-68-12-94 23-26 36-101 47-164 25-51-18-92-11-131 22-36 30-71 30-122-1-47-29-115-33-160-9-87 48-81 47-127 26-24-10-68-39-98-64-58-47-117-81-162-92-41-9-287-36-338-36-66 0-118 17-153 52-111 107-145 118-189 66l-27-33-47 47c-61 62-79 67-107 32-22-28-46-68-69-112-22-43-52-21-37 30 4 16 3 32-4 41-17 22-55 4-63-30-4-15-18-38-31-50-12-12-23-29-23-38 0-8-16-23-35-32-34-16-38-16-70 1-18 10-39 32-46 48-14 34-36 48-78 48-16 0-40 4-53 9-31 12-184 163-229 226-40 57-67 66-105 36-15-12-32-21-38-21-7 0-27-16-46-35-43-44-69-44-140 0-73 47-121 48-181 2-24-19-74-51-112-71-75-42-93-42-155-1-82 54-142 42-235-45-101-94-144-106-272-75-129 31-145 26-375-109-63-38-209-115-323-173l-209-104-282 1c-297 0-345 6-439 50-55 26-121 95-177 185-24 39-58 88-76 111-58 73-181 123-399 160-118 21-389 24-477 6-32-6-125-17-207-24-144-11-152-11-237 11-103 27-270 39-302 22-25-13-52-84-94-241-17-63-33-117-34-119-8-10-14 10-39 129-29 138-47 190-69 190-20 0-74-79-132-193-67-134-138-226-194-254-41-20-210-53-345-67-102-11-314-27-625-46-63-4 2997-7 6800-8s6908 2 6900 7-58 12-110 16c-125 9-339 41-376 56-18 8-121 15-269 20-191 6-254 11-310 27-38 11-77 20-85 20-120 0-348 26-427 48-132 38-190 75-225 144-25 51-73 190-98 289-17 66-54 98-126 106-32 4-75 14-96 22-33 13-39 13-75-5-79-41-115-100-141-228l-17-85-37 45c-35 41-38 50-44 128-6 79-9 87-57 158-88 132-102 140-157 94z" />
            </g>
        </svg>
    </div>
    <div class="ig-section ig-grid-home centerO ig-section-home" style="overflow: hidden; display:none">
        {{{output.content}}}
    </div>
    <div class="section grid4Text">

        <div class="description">
            <h1>SAF BOLZANO 1953</h1>
            <p class="paragraph">Siamo una società sportiva amatoriale di atletica leggera a Bolzano. La "Nuvola Rossa"
                opera attivamente a Bolzano dal lontano 1953, spronando giovani ragazzi e ragazze a praticare attività
                sportiva fin dalla giovane età. Forniamo allenamenti giornalieri e un ambiente accogliente, ogni atleta
                è parte integrante e attiva della nostra famiglia.</p>
            <a href="/info">
                <p>Di più su di noi ..</p>
            </a>
        </div>
        <div>
            <img src="../public/images/gallery/2023.08.23_MEETING FRANCO CRISCUOLO/meetingcriscuolo-296.jpg  " alt="Image">
        </div>
    </div>
    <div class="adSection" style="display: none">
        <svg class="svg-back" version="1.0" xmlns="http://www.w3.org/2000/svg" width="3520.000000pt"
            height="2026.000000pt" viewBox="0 0 3520.000000 2026.000000" preserveAspectRatio="xMidYMid meet">

            <g transform="translate(0.000000,2026.000000) scale(0.100000,-0.100000)" stroke="none">
                <path d="M17100 19283 c-30 -1 -149 -7 -265 -13 -524 -27 -670 -65 -1103 -286
-285 -145 -278 -143 -482 -94 -294 72 -478 85 -720 50 -269 -38 -499 -88 -666
-145 -90 -31 -170 -49 -445 -99 -339 -62 -636 -231 -861 -490 -40 -46 -116
-138 -168 -204 l-95 -121 -217 -1 c-241 0 -336 -10 -441 -45 -119 -40 -307
-158 -307 -193 0 -23 76 -90 266 -233 182 -136 354 -293 449 -410 49 -59 56
-72 44 -83 -8 -7 -113 -98 -234 -202 -121 -104 -280 -245 -355 -314 -326 -301
-905 -890 -1190 -1210 -371 -417 -685 -884 -1185 -1760 -115 -201 -281 -486
-370 -635 -276 -460 -381 -660 -573 -1085 -123 -273 -155 -373 -173 -535 -20
-176 9 -453 58 -565 39 -88 115 -206 161 -250 76 -72 89 -93 94 -146 5 -55 34
-101 239 -390 165 -231 337 -496 481 -739 321 -540 511 -843 819 -1305 251
-377 494 -725 778 -1115 532 -731 1224 -1819 1410 -2217 97 -206 307 -750 416
-1073 53 -159 69 -260 40 -271 -25 -10 -69 15 -175 101 -170 138 -247 178
-268 139 -17 -34 -22 -118 -12 -208 27 -229 70 -322 303 -655 148 -211 324
-541 427 -802 83 -210 85 -224 85 -544 0 -293 -5 -339 -46 -394 -29 -40 -52
-147 -46 -212 8 -89 38 -144 127 -230 145 -141 283 -223 395 -235 115 -12 323
37 404 96 96 70 231 337 396 786 42 112 87 246 101 297 35 127 40 288 20 601
-9 136 -16 265 -16 285 0 30 19 62 106 186 170 242 299 465 424 738 l73 157
26 -16 c14 -10 69 -52 121 -94 173 -141 265 -187 348 -176 62 8 168 59 281
135 340 229 618 570 714 877 55 173 62 237 62 534 0 343 -10 421 -70 535 -86
166 -444 719 -542 839 -80 97 -75 77 -67 311 13 333 11 383 -13 437 -31 68
-134 200 -226 292 -110 108 -223 200 -415 339 -319 232 -372 313 -462 697 -90
387 -108 499 -150 927 -36 366 -66 558 -125 788 -73 288 -155 493 -288 722
-41 71 -86 151 -100 178 -14 28 -45 73 -70 100 -78 88 -190 266 -280 446 -103
207 -115 256 -75 316 86 130 786 858 1298 1352 341 328 413 390 553 472 67 40
253 160 412 267 665 448 898 603 1050 699 239 152 619 435 773 576 l42 40 0
2237 0 2237 -46 7 c-45 6 -338 6 -454 -1z m-5625 -7294 c4 -5 -29 -85 -73
-177 -159 -330 -169 -365 -177 -591 -7 -205 4 -292 56 -428 l32 -83 43 0 44 0
0 -79 c0 -69 6 -95 49 -212 130 -360 310 -682 515 -926 47 -56 175 -198 285
-317 675 -730 976 -1114 1157 -1480 164 -331 196 -510 245 -1366 l22 -385 145
-289 c174 -350 341 -664 463 -869 173 -292 217 -407 190 -503 -15 -57 -47 -94
-78 -94 -14 0 -64 22 -112 49 -105 60 -201 95 -346 127 -237 52 -388 166 -560
424 -175 263 -342 655 -624 1467 -185 536 -265 820 -392 1403 -56 260 -176
639 -285 905 -74 178 -231 490 -314 623 -131 209 -368 485 -764 891 -346 355
-479 502 -529 586 l-42 69 0 111 c0 108 1 112 44 210 55 125 81 163 206 304
28 31 76 90 107 131 72 96 232 266 326 346 70 60 171 120 249 149 46 16 109
19 118 4z" />
            </g>
        </svg>
        <svg class="svg-back" version="1.0" xmlns="http://www.w3.org/2000/svg" width="3520.000000pt"
            height="2026.000000pt" viewBox="0 0 3520.000000 2026.000000" preserveAspectRatio="xMidYMid meet">

            <g transform="translate(0.000000,2026.000000) scale(0.100000,-0.100000)" stroke="none">
                <path d="M23579 19857 c-162 -67 -486 -352 -654 -576 -30 -39 -74 -112 -99
-162 -56 -110 -59 -155 -21 -321 39 -172 55 -314 62 -543 7 -260 -8 -378 -72
-570 -74 -221 -211 -529 -246 -550 -17 -11 -111 68 -326 277 -284 276 -457
417 -739 604 -430 284 -1151 642 -1689 839 -638 233 -1394 388 -2058 421
l-137 7 0 -2236 c0 -1231 2 -2237 5 -2237 3 0 47 36 97 81 318 281 398 290
611 70 51 -53 151 -166 222 -251 195 -233 379 -443 487 -557 138 -146 213
-262 365 -568 125 -253 229 -405 438 -645 65 -74 216 -252 335 -395 260 -311
366 -430 685 -765 286 -300 370 -393 432 -476 l46 -62 304 -116 304 -116 152
0 c106 0 184 6 258 20 59 10 183 25 276 31 152 11 180 11 264 -5 108 -20 175
-41 204 -66 11 -9 47 -27 80 -39 141 -52 209 -103 407 -304 218 -220 324 -363
356 -478 5 -20 33 -71 61 -113 29 -42 92 -152 140 -244 158 -301 258 -442 440
-622 173 -172 300 -254 511 -333 133 -50 227 -66 429 -77 231 -12 774 -12 977
0 196 12 287 34 524 125 319 123 391 168 565 346 325 334 477 566 546 838 11
41 26 145 35 230 9 86 20 158 25 161 27 18 -188 530 -246 585 -12 11 -72 95
-133 187 -184 275 -288 387 -480 518 -173 117 -204 176 -237 446 -28 226 -56
312 -118 358 -44 33 -140 33 -267 1 -158 -40 -219 -43 -315 -13 -44 14 -105
31 -135 38 -111 26 -133 50 -150 170 -16 111 -35 133 -127 145 -75 10 -118 46
-178 146 -57 98 -129 171 -191 195 -56 21 -159 15 -235 -15 -70 -27 -189 -98
-305 -184 -190 -139 -235 -140 -247 -7 -11 121 -93 393 -239 793 -166 457
-341 873 -548 1307 -144 301 -228 495 -263 605 -94 301 -127 809 -127 1986 l0
657 58 43 c31 24 78 63 105 87 69 65 62 96 -26 108 -137 19 -142 88 -16 232
21 24 48 64 60 88 19 40 20 50 10 108 -6 34 -11 95 -11 134 0 135 -33 212 -90
212 -10 0 -29 9 -44 21 -43 34 -37 90 24 206 40 75 50 105 50 142 -1 96 -67
124 -181 78z" />
            </g>
        </svg>
        <div class="adItem text">
            <h1>VIENI A PROVARE</h1>
        </div>
        <div class="btn-part adItem">
            <div class="btn-part">
                <div class="btn"><a href="#">CONTATTACI</a></div>
                <div class="btn"><a href="#">MODULO DI ISCRIZIONE</a></div>
            </div>
        </div>
    </div>
    <div class="imageSection">
        <div class="imageSectionItem">
            <h2>ISCRIZIONI</h2>
            <p class="paragraph"><a href="/public/data/documents/Iscrizione.pdf"><i class="fa-solid fa-sheet-plastic"></i></a></p>
        </div>
        <div class="imageSectionItem">
            <h2>ORARI E ALLENAMENTI</h2>
            <p class="paragraph"><a href="/public/data/documents/allenamenti.pdf"><i class="fa-solid fa-clock"></i></a></p>
        </div>
    </div>
    <div class="section grid4Text">
        <div>
            <img src="../public/images/gallery/2023.12.17_FESTA NATALE/festa natale -016.jpg" alt="Image">
        </div>
        <div class="description">
            <h1>70' Anni di SAF</h1>
            <p class="paragraph">Con l'arrivo del 2024 la SAF BOLZANO 1953 compie ufficialmente 70 anni di operato a Bolzano. Alla festa natalizia annuale della società abbiamo avuto modo di ripercorrere il nostro passato e premiare le nostre eccellenze per spronare i più giovani a prendere esempio. Con il ritorno della premiazione dell'atleta dell'anno, nel 2024 spiccano le prestazioni martellistiche di Nicole Castlunger, che batte molteplici volte il record provinciale di categoria onorando i colori della società.
                Bolzano.</p>
            <a href="/info#storia">
                <p>La nostra storia ..</p>
            </a>
        </div>
    </div>
    {{{output.foot}}}
    <script>
        function down() {
            window.scrollTo({
                top: document.body.scrollHeight,
                behavior: 'smooth'
            });
        }

        const sliderText = [
            { 1: 'Unisciti a noi!', 2: 'Iscriviti online ora o prendi appuntamento quando vuoi.', 3: 'Modulo di iscrizione', 4: '/iscrizioni' },
            { 1: 'Notizie', 2: 'Scopri cosa c&#39è di nuovo.', 3: 'Vai alle notizie', 4: '/news' },
            { 1: 'SAF ai campionati Italiani', 2: 'La SAF Bolzano partecipa con coraggio ai campionati italiani di categoria', 3: 'Scopri di più', 4: '/risultati' },
            { 1: 'Iscrizione aperte', 2: 'Iscriviti subito per la stagione corrente o/e la prossima.', 3: 'Modulo di iscrizione', 4: '/iscrizioni' },
            { 1: 'Sostienici!', 2: 'Dona il tuo 5x1000 a Saf Bolzano 1953', 3: 'Dona', 4: '' },
        ];
    </script>
</body>