<head>
    <title>{{ pageTitle }}</title>
    {{{output.std}}}
    {{{output.font}}}
    {{{output.style}}}
    {{{output.fontawesome}}}
</head>

<body>
    {{{output.nav}}}
    {{{output.content}}}
    <div class="slider">
        <div class="containsSlides">
            {{#each images}}
            <img class="slide imageSlides heightHigh" src="../public/images/gallery/{{this}}">
            <div class="slideOverlay heightHigh">
                <h2></h2>
                <p class="bigText"></p>
                <button class="sliderButtonInfo"></button>
            </div>
            {{/each}}
        </div>
        <button class="sliderButton left slideInLeft">&lt;</button>
        <button class="sliderButton right slideInRight">&gt;</button>
        <button class="sliderButton bottom slideIn upDown" onclick="down()">&darr;</button>
<!--<svg class="svgSlider" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path class="svgSlider" fill="white" fill-opacity="1" d="M0,128L24,144C48,160,96,192,144,218.7C192,245,240,267,288,240C336,213,384,139,432,133.3C480,128,528,192,576,197.3C624,203,672,149,720,128C768,107,816,117,864,133.3C912,149,960,171,1008,192C1056,213,1104,235,1152,213.3C1200,192,1248,128,1296,117.3C1344,107,1392,149,1416,170.7L1440,192L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z"></path></svg>
    !-->
    <svg class="svgSlider" version="1.0" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0 90) scale(.1 -.1)" fill="#fff"><path d="m11340 864c-39-33-107-168-149-294-18-52-36-99-40-103-5-4-11 19-14 53-10 109-66 175-103 121-11-15-22-19-42-15-34 7-52-12-77-80-10-27-35-67-57-89-21-22-54-72-72-111-46-97-93-140-171-154-72-13-366-15-565-3-116 7-161 14-225 36-102 35-267 117-398 198-56 35-108 67-115 71s-28 1-46-8c-40-19-68-12-94 23-26 36-101 47-164 25-51-18-92-11-131 22-36 30-71 30-122-1-47-29-115-33-160-9-87 48-81 47-127 26-24-10-68-39-98-64-58-47-117-81-162-92-41-9-287-36-338-36-66 0-118 17-153 52-111 107-145 118-189 66l-27-33-47 47c-61 62-79 67-107 32-22-28-46-68-69-112-22-43-52-21-37 30 4 16 3 32-4 41-17 22-55 4-63-30-4-15-18-38-31-50-12-12-23-29-23-38 0-8-16-23-35-32-34-16-38-16-70 1-18 10-39 32-46 48-14 34-36 48-78 48-16 0-40 4-53 9-31 12-184 163-229 226-40 57-67 66-105 36-15-12-32-21-38-21-7 0-27-16-46-35-43-44-69-44-140 0-73 47-121 48-181 2-24-19-74-51-112-71-75-42-93-42-155-1-82 54-142 42-235-45-101-94-144-106-272-75-129 31-145 26-375-109-63-38-209-115-323-173l-209-104-282 1c-297 0-345 6-439 50-55 26-121 95-177 185-24 39-58 88-76 111-58 73-181 123-399 160-118 21-389 24-477 6-32-6-125-17-207-24-144-11-152-11-237 11-103 27-270 39-302 22-25-13-52-84-94-241-17-63-33-117-34-119-8-10-14 10-39 129-29 138-47 190-69 190-20 0-74-79-132-193-67-134-138-226-194-254-41-20-210-53-345-67-102-11-314-27-625-46-63-4 2997-7 6800-8s6908 2 6900 7-58 12-110 16c-125 9-339 41-376 56-18 8-121 15-269 20-191 6-254 11-310 27-38 11-77 20-85 20-120 0-348 26-427 48-132 38-190 75-225 144-25 51-73 190-98 289-17 66-54 98-126 106-32 4-75 14-96 22-33 13-39 13-75-5-79-41-115-100-141-228l-17-85-37 45c-35 41-38 50-44 128-6 79-9 87-57 158-88 132-102 140-157 94z"/></g></svg>
    </div>
    <div class="lds-ripple"><div></div><div></div></div>
    <div class="section"></div>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#D8222A" fill-opacity="1"
                d="M0,288L120,261.3C240,235,480,181,720,181.3C960,181,1200,235,1320,261.3L1440,288L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
            </path>
        </svg>
        <div class="adSection">
            <div class="part1">
                <h1 class="margin0">Inizia a praticare l'atletica leggera!</h1>
                <p class="margin0">Iscriviti <b>ora</b> o vieni al campo a <b>provare!</b></p>
            </div>
            <div class="part">
                <button class="button0 button1 margin0">ISCRIZIONI</button>
                <button class="button0 button2 margin0">ORARI e CONTATTI</button>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path class="waveSperarator" fill="#D8222A" fill-opacity="1"
                d="M0,224L40,234.7C80,245,160,267,240,234.7C320,203,400,117,480,117.3C560,117,640,203,720,197.3C800,192,880,96,960,85.3C1040,75,1120,149,1200,165.3C1280,181,1360,139,1400,117.3L1440,96L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z">
            </path>
        </svg>
    </div>
    <div class="section grid4Text">
        <div>
            <h1>Chi siamo noi "SAF" ?</h1>
            <p>Attualmente la parola SAF in SAF Bolzano 1953 sta per "Società Atletica Franco Criscuolo", ma fino al 70°
                anniversario della società il nome stava per "Società Atletica Femminile", in quanto fu fondata per dare
                un opportunità sportiva nell'atletica anche alle ragazze Bolzanine, le quali non erano ammesse in altre
                società in città, poichè donne. La SAF Bolzanon spiccò il volo e iniziò un periodo di cresicta
                incontrollata della società.</p>
            <a href="">
                <p>Continua a leggere la storia della SAF Bolzano 1953..</p>
            </a>
        </div>
        <img src="/public/images/extra/" alt="" width="200px" height="300px">
    </div>
    {{{output.foot}}}
    <script>
        function down() {
            window.scrollTo({
                top: document.body.scrollHeight,
                behavior: 'smooth'
            });
        }

        const sliderText = [
            { 1: 'Unisciti a noi!', 2: 'Iscriviti online ora o prendi appuntamento quando vuoi.', 3: 'Modulo di iscrizione', 4: '/iscrizioni' },
            { 1: 'Notizie', 2: 'Scopri cosa c&#39è di nuovo.', 3: 'Vai alle notizie', 4: '/news' },
            { 1: 'SAF ai campionati Italiani', 2: 'La SAF Bolzano partecipa con coraggio ai campionati italiani di categoria', 3: 'Scopri di più', 4: '/risultati' },
            { 1: 'Iscrizione aperte', 2: 'Iscriviti subito per la stagione corrente o/e la prossima.', 3: 'Modulo di iscrizione', 4: '/iscrizioni' },
            { 1: 'Sostienici!', 2: 'Dona il tuo 5x1000 a Saf Bolzano 1953', 3: 'Dona', 4: '' },
        ];
    </script>
</body>