<head>
    <title>{{ pageTitle }}</title>
    {{{output.std}}}
    <style id="globalStyles"></style>
    {{{output.style}}}
    {{{output.font}}}
    {{{output.fontawesome}}}
</head>

<body>
    {{{output.nav}}}
    <div class="slider introduceSection">
        <div class="containsSlides heightSmall">
            {{#each images}}
            <img class="slide imageSlides heightSmall" src="../public/images/img/iscrizioni/{{this}}">
            <div class="slideOverlay heightSmall">
                <h2></h2>
                <p class="bigText"></p>
                <button class="sliderButtonInfo"></button>
            </div>
            {{/each}}
        </div>
        {{{output.content}}}
        <div class="section grid4Text marginTop">
            <div>
                <h1>Chi siamo noi "SAF" ?</h1>
                <p>Attualmente la parola SAF in SAF Bolzano 1953 sta per "Società Atletica Franco Criscuolo", ma fino al
                    70°
                    anniversario della società il nome stava per "Società Atletica Femminile", in quanto fu fondata per
                    dare
                    un opportunità sportiva nell'atletica anche alle ragazze Bolzanine, le quali non erano ammesse in
                    altre
                    società in città, poichè donne. La SAF Bolzanon spiccò il volo e iniziò un periodo di cresicta
                    incontrollata della società.</p>
                <a href="">
                    <p>Continua a leggere la storia della SAF Bolzano 1953..</p>
                </a>
            </div>
            <img src="/public/images/extra/" alt="" width="200px" height="300px">
        </div>
        <div class="section grid2Cols marginTop">
            <div class="glassedBack">
                <h2 class="textOnGlass">Modulo di iscrizione</h2>
                <p class="textOnGlass">icona grande del modulo</p>
            </div>
            <div class="glassedBack">
                <h2 class="textOnGlass">Vieni a provare</h2>
                <p class="textOnGlass">icona grande dei contatti</p>
            </div>
        </div>
        {{{output.foot}}}
        <script>

        </script>
</body>